@using AmazonBBS.Model
@using AmazonBBS.Common
@model Product
@{
    ViewBag.Title = "发布产品";
    decimal productScroe = Convert.ToDecimal(ConfigHelper.AppSettings("PUBLISH_PRODUCT"));
    int vipscorePay = Convert.ToInt32(ConfigHelper.AppSettings("vipScorePayByRMB"));
}
@using (Html.BeginForm("Publish", "Product", FormMethod.Post, new { @class = "form-horizontal Lmgt20", role = "form", id = "nmform" }))
{
    //公司名称
    <div class="form-group">
        @Html.LabelFor(m => m.CompanyName, "公司名称", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control", placeholder = "请输入公司名称" })
        </div>
    </div>

    //产品标题
    <div class="form-group">
        @Html.LabelFor(m => m.PTitle, "产品标题", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PTitle, new { @class = "form-control", placeholder = "请输入产品标题(20字内)" })
        </div>
    </div>

    //产品定位
    <div class="form-group">
        @Html.LabelFor(m => m.PLocation, "产品定位", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PLocation, new { @class = "form-control", placeholder = "请输入产品定位(20字内)" })
        </div>
    </div>

    //产品介绍
    <div class="form-group">
        @Html.LabelFor(m => m.PDesc, "产品介绍", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.PDesc, new { @class = "form-control", placeholder = "请输入产品介绍(200字内)" })
        </div>
    </div>

    //产品功能
    <div class="form-group">
        @Html.LabelFor(m => m.PFunction, "产品功能", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.PFunction, new { @class = "form-control", placeholder = "请输入产品功能(200字内)" })
        </div>
    </div>

    //产品服务单位
    <div class="form-group">
        <label class="col-md-2 control-label" for="pickupUnit">产品单位</label>
        <div class="col-md-10 Lpdl0">
            <div class="col-sm-3">
                <select id="pickupUnit" class="form-control">
                    <option value="">-请选择-</option>
                    <option value="1">包</option>
                    <option value="2">个</option>
                    <option value="3">件</option>
                </select>
            </div>
        </div>
    </div>

    //发货时间（天）
    <div class="form-group">
        @Html.LabelFor(m => m.SendDay, "发货时间", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.SendDay, new { @class = "form-control", type = "number", placeholder = "请输入发货时间(天)" })
        </div>
    </div>

    //产品价格
    <div class="form-group">
        @Html.LabelFor(m => m.PPrice, "产品价格", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PPrice, new { @class = "form-control", placeholder = "请输入产品价格" })
        </div>
    </div>

    //产品尺寸
    <div class="form-group">
        @Html.LabelFor(m => m.PSize, "产品尺寸", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PSize, new { @class = "form-control", placeholder = "请输入产品尺寸(CM/M/cm³/m³)" })
        </div>
    </div>

    //产品重量
    <div class="form-group">
        @Html.LabelFor(m => m.PWeight, "产品重量", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PWeight, new { @class = "form-control", placeholder = "请输入产品重量(0 KG/G)" })
        </div>
    </div>

    //联系方式
    <div class="form-group">
        @Html.LabelFor(m => m.Contact, "联系方式", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Contact, new { @class = "form-control", placeholder = "请输入联系方式" })
        </div>
    </div>
    //产品图片
    <div class="form-group">
        @Html.LabelFor(m => m.ProductPic, "产品图片", new { @class = "col-md-2 control-label" })
        <div class="col-sm-10">
            <input type="text" class="form-control" id="ProductPic-input" placeholder="请上传产品图片" />
            @Html.HiddenFor(m => m.ProductPic, new { @style = "display:none", type = "file" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a id="btn_addProduct" class="btn btn-primary">花费@(productScroe)个VIP分发布</a>
            <a id="btn_addProductCash" class="btn btn-primary">花费@(productScroe / vipscorePay)元发布,去支付</a>
        </div>
    </div>
}

<script>
    Leo.init("product","publish")
</script>