@using AmazonBBS.Model
@using AmazonBBS.BLL
@model _ZhaoPin
@{
    ViewBag.Title = $"{Model.Gangwei}_职位详情";
    var m = Model;
    bool canSeeContact = (bool)ViewBag.canSeeContact;
    bool islogin = UserBaseBLL.Instance.IsLogin;
    UserExt ext = UserExtBLL.Instance.GetExtInfo(Convert.ToInt64(m.Publisher));
    int userv = ext.UserV;
    bool isuserv = UserExtBLL.Instance.IsFaRenOauth(ext.UserV);
}

<div class="post">
    <h1 class="post-head">
        @m.Gangwei
        @if (islogin)
        {
            <span class="Lfr"><button onclick="var me=$(this);me.hide();setTimeout(function(){me.show()},1);print()" class="btn btn-sm btn-primary ">打印</button></span>
        }
        else
        {
            <span class="Lfr"><button class="btn_login btn btn-sm btn-primary ">打印</button></span>
        }
    </h1>
    <h4 style="color:red;">
        @(isuserv ? "用户已认证" : "该用户未认证")
    </h4>
    <div class="post-content">
        <h3>
            公司名称：@m.CName
        </h3>
        <h3>
            公司人数：@Html.Partial("_CompanyPeople", m.CPeople)
        </h3>
        <h3>
            招聘岗位：@m.Gangwei
        </h3>
        <h3>
            薪资待遇：@Html.Partial("_XinChou", m.Money)
        </h3>
        <h3>
            学历要求：
            @Html.Partial("_XueLi", m.Study)
        </h3>
        <h3>
            工作经验：
            @Html.Partial("_GongZuoJingYan", m.WorkHistory)
        </h3>
        <h3>
            工作地点：
            @m.WorkPlace
        </h3>
        <h3>
            联系方式：
            @{
                if (canSeeContact)
                {
                    <span>@m.Contact</span>
                }
                else
                {
                    <span class="z_contact">********</span>
                }
            }
        </h3>
        <h3>
            @if (!canSeeContact)
            {
                <a class="btn btn-danger @(islogin?"feeSeeContact":"btn_login")">消费VIP分查看联系方式</a>
                <script>
                    $(".feeSeeContact").click(function () {
                        var me = $(this);
                        AlertConfirm("确认要付费查看联系方式吗？", "付费查看", "我再想想", function () {
                            $.post("/ZhaoPin/Fee/{0}".Format(@m.ZhaoPinID), { type: 1 }, function (data) {
                                if (data.Ok) {
                                    layer.msg("付费成功");
                                    $(".z_contact").text(data.Data);
                                    me.remove();
                                } else {
                                    layer.msg(data.Msg || "付费失败");
                                    setTimeout(function () {
                                        if (data.Url) {
                                            location.href = data.Url;
                                        }
                                    });
                                }
                            });
                        });
                    });
                </script>
            }
        </h3>
        <h3>
            公司介绍：@m.CDesc
        </h3>
        <h3>
            职位要求：
            @m.JobRequire
        </h3>
        <h3>
            职位介绍：
            <span><img src="@m.JobPic" /></span>
        </h3>
    </div>
    <div>
        <button type="button" class="btn_comment btn btn-default" data-mid="@m.ZhaoPinID">评论</button>
    </div>
    @Html.Partial("_DOComment", 0)
</div>
@{
    ViewBag.UserID = Convert.ToInt64(m.Publisher);
    ViewBag.MainID = m.ZhaoPinID;
}
@Html.Partial("_CommentList", m.Comments)
<script>
    Leo.init("zhaopin","detail",@Model.ZhaoPinID).LoadCommentControl().LoadPriseControl();
</script>